<h2 mat-dialog-title>Search Movie</h2>
<mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      cdkFocusInitial
      placeholder="Movie title"
      [formControl]="searchCtrl"
      [matAutocomplete]="autocomplete"
    />

    <mat-autocomplete #autocomplete="matAutocomplete">
      @for (movie of movies | async; track movie) {
        <mat-option [value]="movie.Title" (onSelectionChange)="movieSelected(movie)">
          <p>{{ movie.Title }}</p>
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  @if (selectedMovie) {
    <app-movie-card [movie]="selectedMovie"></app-movie-card>
  }
</mat-dialog-content>

<mat-dialog-actions>
  @if (selectedMovie) {
    <span>
      @if (!checkMovieAlreadyInList()) {
        <button mat-button (click)="addMovieToList()">
          Add to List
        </button>
      } @else {
        <button mat-button disabled>
          Already in List
        </button>
      }
    </span>
  }

  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
