<h2 mat-dialog-title>Search Movie</h2>
<mat-dialog-content>
  <div class="search-input-wrapper">
    <mat-form-field class="search-input">
      <input
        matInput
        cdkFocusInitial
        placeholder="Movie title"
        [formControl]="searchCtrl"
        [matAutocomplete]="autocomplete"
      />

      <mat-autocomplete #autocomplete="matAutocomplete">
        @for (movie of movies | async; track movie.imdbID) {
          <mat-option (onSelectionChange)="movieSelected(movie)">
            <app-movie-option [movie]="movie"></app-movie-option>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>

  @if (selectedMovie()) {
    <app-movie-card [movie]="selectedMovie()"></app-movie-card>
  }
</mat-dialog-content>

<mat-dialog-actions>
  @if (selectedMovie()) {
    <span>
      @if (!checkMovieAlreadyInList()) {
        <button mat-button (click)="addMovieToList()">Add to List</button>
      } @else {
        <button mat-button disabled>Already in List</button>
      }
    </span>
  }

  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
