:host {
  max-width: 750px;
  display: block;
}

.mat-card-content {
  display: flex;
}

.movie-info {
  flex: 1 1 auto;
  margin-left: 15px;
  a {
    color: #2a5885;
    display: inline-block;
    h2 {
      margin: 0;
    }
  }

  p {
    font-size: 10pt;
  }
}

.movie-attrs {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 10% 1fr;
  gap: 1vw;
  align-items: center;
  margin-top: 20px;
}

.movie-attr-name{
  font-weight: bold;
}
