:host {
  max-width: 750px;
  display: block;
  width: 382px;
}

.caption-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caption {
  color: #2a5885;
}

.poster {
  object-fit: contain;
}

.movie-attrs {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 55px 1fr;
  gap: 1vw;
  align-items: center;
}

.movie-attr-name {
  font-weight: bold;
}
