<mat-card>
  <mat-card-content>
    <img [src]="movie.Poster" height="200" />
    <div class="movie-info">
      <a href="{{ imdbEndpoint }}{{ movie.imdbID }}" target="_blank">
        <h2>{{ movie.Title }}</h2>
      </a>

      <table cellspacing="5">
        <tr>
          <td class="movie-attr-name">Director:</td>
          <td class="movie-attr-val">{{ movie.Director }}</td>
        </tr>
        <tr>
          <td class="movie-attr-name">Writer:</td>
          <td class="movie-attr-val">{{ movie.Writer }}</td>
        </tr>
        <tr>
          <td class="movie-attr-name">Actors:</td>
          <td class="movie-attr-val">{{ movie.Actors }}</td>
        </tr>
        <tr>
          <td class="movie-attr-name">Genre:</td>
          <td class="movie-attr-val">{{ movie.Genre }}</td>
        </tr>
        <tr>
            <td class="movie-attr-name">Year:</td>
            <td class="movie-attr-val">{{ movie.Year }}</td>
          </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
