<main>
  <div class="page-header mat-elevation-z3">
    <div class="page-header-content">
      <div class="page-header-title">
        Movies List
      </div>
      <button mat-raised-button
              color="primary"
              id="defaultSearchBtn"
              (click)="openSearchDialog()">
        Search Movie...
      </button>
    </div>
  </div>
  <div class="container">
    <app-movies-list></app-movies-list>
  </div>
  <button mat-fab color="primary" *ngIf="showCircleBtn" (click)="openSearchDialog()">
    <mat-icon>search</mat-icon>
  </button>
</main>
