<main>
  <div class="page-header mat-elevation-z3">
    <div class="page-header-content">
      <div class="page-header-title">
        Movies List
      </div>
      <button
        mat-raised-button
        style="transition: transform 0.5s"
        [ngStyle]="{'display': modalOpened ? 'none' : 'block' }"
        color="primary"
        id="defaultSearchBtn"
        (click)="openSearchDialog()"
      >
        <mat-icon>search</mat-icon>
        @if(!showCircleBtn) {
          <span>Search Movie...</span>
        }
      </button>
    </div>
  </div>
  <div class="container">
    <app-movies-list></app-movies-list>
  </div>
</main>
