.card-container {
  display: flex;
  align-items: center;

  &+ .card-container {
    margin-top: 35px;
  }
}

.mat-icon-button {
  margin-right: 10px;
}

.info-text {
  text-align: center;
  color: gray;
}
