.card-container {
  display: flex;
  align-items: center;
  app-movie-card {
    flex: 1 1 auto;
  }
}

.card-container + .card-container {
  margin-top: 35px;
}

.mat-icon-button {
  margin-right: 10px;
}

.info-text {
  text-align: center;
  color: gray;
}
